WebContent/wsdl/getmesomething.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/myfile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="myfile" targetNamespace="http://www.example.org/myfile/">
  <wsdl:types>
  <xsd:schema targetNamespace="http://www.example.org/myfile/">
  <xsd:element name="input" type="xsd:string"/>
  <xsd:element name="output" type="xsd:string"/>
  </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SoapRequest">
  <wsdl:part element="tns:input" name="inputs"/>
  </wsdl:message>
  <wsdl:message name="SoapResponse">
  <wsdl:part element="tns:output" name="output"/>
  </wsdl:message>
  <wsdl:portType name="SoapPortType">
  <wsdl:operation name="getsome">
  <wsdl:input message="tns:SoapRequest"/>
  <wsdl:output message="tns:SoapResponse"/>
  </wsdl:operation>
   </wsdl:portType>
   
   <wsdl:binding name="SoapBinding" type="tns:SoapPortType">
   <soap:binding style="document" transport="http://schema.xml.soap.org/soap/http"/>
   <wsdl:operation name="getsome">
   <soap:operation soapAction="http:www.example.org/myfile/operation"/>
   <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
   <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
   </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SoapService">
   <wsdl:port binding="tns:SoapBinding" name="getmesomething">
   <soap:address location="http://localhost:8765/SoapContractFirst/services/getmesomething"/>
    </wsdl:port>
   </wsdl:service>
  </wsdl:definitions>
