WebContent/wsdl/myfile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/myfile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="myfile" targetNamespace="http://www.example.org/myfile/">
  <wsdl:types>
  <xsd:schema targetNamespace="http://www.example.org/myfile/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <xsd:element name="input" type="xsd:string"></xsd:element>
  <xsd:element name="output" type="xsd:string"></xsd:element>
  </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SoapRequest">
  <wsdl:part name="inputs" element="tns:input"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="SoapResponse">
  <wsdl:part name="output" element="tns:output"></wsdl:part></wsdl:message>
  <wsdl:portType name="SoapPortType">
  <wsdl:operation name="getsome">
  <wsdl:input message="tns:SoapRequest"></wsdl:input>
  <wsdl:output message="tns:SoapResponse"></wsdl:output>
  </wsdl:operation>
   </wsdl:portType>
   
   <wsdl:binding name="SoapBinding" type="tns:SoapPortType">
   <soap:binding transport="http://schema.xml.soap.org/soap/http" style="document"/>
   <wsdl:operation name="getsome">
   <soap:operation soapAction="http:www.example.org/myfile/operation"/>
   <wsdl:input><soap:body use="literal"/></wsdl:input>
   <wsdl:output><soap:body use="literal"/></wsdl:output>
   </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="SoapService">
   <wsdl:port name="getmesomething" binding="tns:SoapBinding">
   <soap:address location="http://localhost:8765/SoapService/services/getmesomething"/></wsdl:port>
   </wsdl:service>
  </wsdl:definitions>